/* * {
    border: 1px solid red;
} */


/*메뉴*/
.menu {
    display: flex;
    margin: 80px 0 30px 100px;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
}

.intro {
    margin-left: 15px;
}

.intro:hover {
    cursor: pointer;
}

.gallery1 {
    margin-left: 15px;
}

.gallery1:hover {
    cursor: pointer;
}

.gallery2 {
    margin-left: 15px;
}

.gallery2:hover {
    cursor: pointer;
}

.mypage {
    margin-left: 15px;
}

.mypage:hover {
    cursor: pointer;
}

.edit {
    margin: 0 0 60px 110px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
}

/*갤러리*/

.main_container {
    width: 85%;
    margin: auto;
}

.main_box {}

.floor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-content: center;
}

.feed_box {
    text-align: center;
}


.feed {}

.feed:hover {
    cursor: pointer;
}


.feed_title {
    margin-top: 5px;
    text-align: left;
    font-family: 'Noto Serif KR', serif;
    font-size: 15px;
    color: grey;

    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button_box {
    width: 300px;
    text-align: left;
    margin: auto;
}

.put_button {
    border: none;
    color: white;
    background-color: darkcyan;
    border-radius: 3px;
    width: 32px;
    height: 17.5px;
    font-size: 10px;
}

.delete_button {
    border: none;
    color: white;
    background-color: darkred;
    border-radius: 3px;
    width: 44px;
    height: 17.5px;
    font-size: 10px;
}

/*고정 모달 아이콘*/
.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: lightpink;
    color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}


.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #00B4CC;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.img_dicription {

    object-fit: cover;
}

.file_choice1 {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 300px;
    left: 15px;
    opacity: 0;
    z-index: 1;
}

.file_choice2 {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 300px;
    left: 565px;
    opacity: 0;
    z-index: 1;
}

.g2modal {
    display: flex;

}

.img_read1 {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 300px;
    left: 15px;
    object-fit: cover;
    border: 1px solid black;

}

.img_read2 {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 300px;
    left: 565px;
    object-fit: cover;
    border: 1px solid black;
}

.img_read3 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 300px;
    left: 365px;
    object-fit: cover;

}

/* put 모달 */
.float_put {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: lightpink;
    color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.put-modal {

}

.put-img{
    width: 500px;
    margin: auto;
    margin-top: 13px;
    margin-bottom: 10px;
}

.put-input-box {
    width: 500px;
    margin: auto;
}

.put-input {
    width: 500px;
}

.put-btn{
    border: none;
    color: white;
    background-color: palevioletred;
    border-radius: 3px;
    font-size: 13px;
    width: 50px;
    height: 25px;
}

.btn-secondary{
    border: none;
    color: white;
    background-color: grey;
    border-radius: 3px;
    font-size: 10px;
    width: 50px;
    height: 25px;
}