/* * {
    border: 1px solid red;
} */

/* 탑 컨테이너  */
.top-container{
    text-align: center;
    margin-bottom: 80px;
}


.edit {
    margin: 0 0 60px 110px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
}

/*갤러리*/

.main_container {
    width: 85%;
    margin: auto;
}

.main_box {}

.floor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-content: center;
}

.feed_box {
    text-align: center;
}


.feed {}

.feed:hover {
    cursor: pointer;
}


.feed_title {
    margin-top: 5px;
    text-align: left;
    font-family: 'Noto Serif KR', serif;
    font-size: 15px;
    color: grey;

    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button_box {
    width: 300px;
    text-align: left;
    margin: auto;
}

.put_button {
    border: none;
    color: white;
    background-color: darkcyan;
    border-radius: 3px;
    width: 32px;
    height: 17.5px;
    font-size: 10px;
}

.delete_button {
    border: none;
    color: white;
    background-color: darkred;
    border-radius: 3px;
    width: 44px;
    height: 17.5px;
    font-size: 10px;
}

/*고정 모달 아이콘*/
.float {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    border: 3px solid #f8e6e0;
    color: #6e6e6e;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}



.img_dicription {

    object-fit: cover;
}

.file_choice1 {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 290px;
    left: 15px;
    opacity: 0;
    z-index: 1;
}

.file_choice2 {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 290px;
    left: 565px;
    opacity: 0;
    z-index: 1;
}

.g2modal {
    display: flex;

}

.img_read1 {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 290px;
    left: 15px;
    object-fit: cover;
    border: 1px solid black;

}

.img_read2 {
    position: absolute;
    width: 350px;
    height: 200px;
    top: 290px;
    left: 565px;
    object-fit: cover;
    border: 1px solid black;
}

.img_read3 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 290px;
    left: 365px;
    object-fit: cover;

}

/* put 모달 */
.float_put {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: lightpink;
    color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.put-modal {}

.put-img {
    width: 500px;
    margin: auto;
    margin-top: 13px;
    margin-bottom: 10px;
}

.put-input-box {
    width: 500px;
    margin: auto;
}

.put-input {
    width: 500px;
}

.put-btn {
    border: none;
    color: white;
    background-color: palevioletred;
    border-radius: 3px;
    font-size: 13px;
    width: 50px;
    height: 25px;
}

.btn-secondary {
    border: none;
    color: white;
    background-color: grey;
    border-radius: 3px;
    font-size: 10px;
    width: 50px;
    height: 25px;
}


.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    width: 120px;
    height: 60px;
    margin-left: 15px;
}

.w-btn-gray-outline {
    border: 3px solid #a3a1a1;
    color: #6e6e6e;
}

.w-btn-gray-outline:hover {
    background-color: #a3a1a1;
    color: #e3dede;
}

.w-btn-blue-outline {
    border: 3px solid #6aafe6;
    color: #6e6e6e;
}

.w-btn-blue-outline:hover {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

/* 갤러리1 */
.file_choice {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 320px;
    left: 50px;
    opacity: 0;
    z-index: 1;
}

.file_choice:hover {
    cursor: pointer;
}

.img-box {
    width: 700px;
    height: 270px;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 40px;
}

.img_reader {
    overflow: auto;
    white-space: nowrap;
}

.img_reader:hover {
    cursor: pointer;
}

.footer-submit {
    border: none;
    color: white;
    background-color: mediumaquamarine;
    border-radius: 3px;
    width: 45px;
    height: 17.5px;
    font-size: 10px;
}

.footer-close {
    border: none;
    color: white;
    background-color: brown;
    border-radius: 3px;
    width: 40px;
    height: 17.5px;
    font-size: 10px;
}


.file_upload {}

.upload-box {
    width: 900px;
    margin: auto;
    display: flex;

}

.upload-title {
    margin: 10px 0 0 30px;
    width: 255px;
}

.img_section {
    justify-content: flex-start;
}


/* 공통  */
.nextmodal {
    display: none
}

.loading_modal {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
}
